@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"

html {
  height:100%;
}
body {
  font-family: 'Roboto';
  background-color: black;
}
main {
  max-width: 100%;
  width: 700px;
  background-color: #EDEFF0;
  margin: auto;
  padding: 10px 15px 20px 10px;
  border-radius: 3px;
}
p {
  margin: 0;
  font-size: 14px;
  color: #8C8C8C;
}
.header-wrapper{
  display:flex;
}
.main-content-wrapper{
  display:flex;
}
input[type="text"] {
  width:80%;
  background-color: #EDEFF0;
  color: #4d4d4d;
  border: none;
  height: 30px;
  font-weight: bold;
  font-size: 17px;
}
input[type="text"]:focus {
  background-color: white;
}
input[type="text"]::placeholder {
  color: #4d4d4d;
}
.fa-times {
  float: right;
  color:#A6A8A8;
  font-size: 25px;
}
#underline {
  text-decoration: underline;
}
.wrapper {

}
.labels {
  margin: 20px 0 25px 33px;
}
.descriptionButtons {
  margin-top: 5px;
}
#bigButton {
  background-color: #0079bf;
  color: white;
  font-weight: bold;
  font-size: 13px;
  border-radius:3px;
  border: none;
  padding: 7px 8px;
  text-shadow: 0.5px 0.5px black;
}
#bigButton:hover {
  background-color:#3B96DE;
}
#smallButton {
  font-weight: bold;
  border-radius:3px;
  border: none;
  padding: 7px 10px 7px 10px;
  color:#8c8c8c;
}
#smallButton:hover {
  color:#b5afaf;
}
#description {
  padding: 30px 0 0 20px;
  text-decoration: underline;
}
.fa-align-left{
  padding-right: 5px;
}
#exit {
  width:15px;
  height:15px;
}
.trello-icon{
  width:20px;
  height:15px;
}
.side-icon{
  display: block;
  padding: 7px 8px 5px 5px;
}
.header-main{
  flex: 12;
}
.main{
  flex: 8;
  padding-right: 20px;
  box-sizing: border-box;
}
aside{
  flex:2;
}
.sidebar-button{
  font-size:14px;
  font-weight: bold;
  text-align:left;
  width: 100%;
  padding: 7px 8px;
  margin-bottom: 7px;
  background: linear-gradient(to bottom,#fff 0,#f8f9f9 100%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius:3px;
  color: #4d4d4d;
}
aside p{
  color: #4d4d4d;
  font-weight:bold;
  margin-bottom:7px;
  font-size:16px;
}
aside .fa{
  font-size:12px;
  color: #8C8C8C;
}
#share{
  font-weight: normal;
  text-decoration: underline;
  font-size:14px;
  padding-left:5px;
  color: #8C8C8C;
}
.menu{
  margin:5px 0px 18px 0px;
}

.checklistHeader{
  display:flex;
}
#check-icon{
  display:block;
  padding: 0 8px;

}
#check-icon img{
  width:19px;
  height:19px;
}
.checklistTitle{
  flex:1;
  font-weight: bold;
  font-size:16px;
  color: #4d4d4d;
}
.remove-items{
  flex:1;
  text-align:right;
  color: #8C8C8C;
  text-decoration: underline;
  font-size:15px;
}
.remove-items span{
  padding-left:7px;
}
.progress-section{
  box-sizing: border-box;
  width:100%;
  margin-top:7px;
  padding-left: 8px;
  display: flex;
}
label{
  font-size: 11px;
  color: #8C8C8C;
}
progress{
  width: 100%;
  height: 8px;
  margin: 2px 0 0 7px;
  border-radius: 5px;
  -webkit-appearance: none;
	border: none;
}
progress::-webkit-progress-bar {
	background-color: rgba(140,140,140, 0.2);
	border-radius: 50px;
}
progress::-webkit-progress-value {
	border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
	background-color: #5BA4CF;
}
#list{
  padding-top:7px;
}
.list-item {
  padding-bottom: 6px;
}
.list-item > label{
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding-left:35px;
  font-size: 13px;
  color: #4d4d4d;
}
input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #8C8C8C;
}
input[type="checkbox"]:checked + label span {
  font-style: italic;
}
input[type="checkbox"]{
  display: none;
}
input[type="checkbox"] + label:before {
  content: "";
  width: 17px;
  height: 17px;
  font-size: 20px;
  position: absolute;
  left: 8px;
  bottom: 1px;
  display: inline-block;
  background-color: white;
  box-shadow: 0px 0px 1px 1px rgba(140, 140, 140, 0.5);
  border-radius: 3px;

}
input[type="checkbox"]:checked + label:before {
  content: "\2713";
  text-align: center;
  line-height:17px;
  font-size:13px;
  background-color: #e5e7e8;
}
input[type="checkbox"]:checked + label:after{
  content: "";
}
#add-item{
  margin: 12px 40px;
}
